.header-color {
  background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 100%;
}

.Landing-grid {
  background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;

 top: 0;
left: 0;
width: 100%;
height: 100%;

}
.projects-grid {
  display: flex;
  /* justify-content: space-around; */
  
}

/* CardActions button {
  margin: 2% auto;
  padding-left: 20px;
} */

.my-image {
  height: 280px;
  width: 253px;
  padding-top: 3.5em;
  border-radius: 50%;
}

.banner-text {
  width: 75%;
  background-color: black;
  margin: auto;
  opacity: .8;
  border-radius: 10px;

}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
  
}

.banner-text hr {
  border-top: 5px dotted white;
  width:  50%;
  margin: auto;
}

.banner-text p {
  color: white;
  padding: 1em;
  font-size: 20px;
  margin: auto;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

.contact-body {
  margin: auto;
  background: #27221F;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  /* border: 2px solid red; */
  margin-bottom: 20px;

}
/* .contact-grid img {
  margin-top: 17.5em;
  margin-bottom: 17.5em;

} */
.contact-grid h2 {
  font-family: 'Anton', sans-serif;
  
  
}

.contact-grid P {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 150%;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}
.contact-grid i {
  font-size: 60px;
  padding-right: 4rem;
}

/* Media queries */
@media screen and (max-width: 400px) {
.header-color {
  width: 40%;
}
}